*{
    padding: 0;
    margin: 0;
    }


body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.titulo{
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
}

.container{
    margin: auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
}

.menu h2{
    color: RGB(80, 100, 100);
    font-weight: 600;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    padding: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    cursor: pointer;
}

.menu ul li a:hover{
    color: RGB(100, 110, 110);;
}

.btnPedido{
    background-color: 	RGB(10, 40, 60);
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid #000000;
    border: 0;
    border-radius: 20px;
    font-weight: 500;
}


.cabecalho{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../imagens/essaagora.jpg);
    background-position: center;
    background-size: cover;
}

.textoCabecalho{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.textoCabecalho h1{
    font-size: 60px;
    padding: 10px;
}

.textoCabecalho p{
    padding: 10px;
    font-size: 18px;
}

input {
    font-size: 17px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.btnSearch{
    font-size: 17px;
    margin: 0 5px;
    padding: 10px;
    background-color: RGB(10, 40, 60);
    border: 0;
    border-radius: 5px;
    color: #ffffff;
}

.btnSearch:hover{
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: 1.10;
}

/*===CARDAPIO===*/
section.cardapio{
    padding: 30px 0;
    margin: auto;
    background-color: #ffffff69;
}

.textoCardapio {
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    text-align: center;
}


.containerCardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.itemCardapio{
    max-width: 310px;
    height: 430px;
    box-shadow: 0 0 5px;

}

.itemCardapio:hover{
    transform: scale(1.01);
    transition: .2s;
}

.imagenCardapio img{
    width: 100%;
    height: 200px;

}

.ConteudoCardapio{
    padding: 15px;
}

.tituloCardapio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tituloCardapio h3{
    font-size: 22px;
    padding: 15px 0;
}

.paragrafo{
    padding-top: 25px;
}


.emoji{
    font-size: 25px;
}

.btnsaberMais {
    color: RGB(10, 40, 60);
    padding: 8px;
    text-decoration: none;
    color: #ffffff;
    background-color: RGB(10, 40, 60);
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
}

.saberMais:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 5px RGB(10, 40, 60);
    transition: .1s;
}

.btnCardapio {
    margin: 15px;
    padding: 5px;
    text-align: center;
}

.btnCardapio button{
    padding: 10px;
    border: 2px solid RGB(10, 40, 60);
    border-radius: 5px;
    font-weight: 600;
    width: 250px;
    background-color: #ffffff;

}

.btnCardapio button:hover{
    background-color: RGB(10, 40, 60);
    color: #ffffff;
    transition: 0.5s;
}

/*===Section Sobre===*/
section.sobre{
    padding: 30px;
}
.containerSobre{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 65%;
    margin: auto;
    text-align: justify;

}

.imagemSobre img{
    max-width: 650px;
    height: 470px;
}

.textoSobre{
    line-height: 20px;
    padding: 0px 20px;
    padding-top: 40px;
    font-size: 17px;
    box-shadow: 0px 0px 10px #2d2d2d;
}


.btnSobre{
    margin: 20px 0;
    padding: 15px 30px;
    background-color: RGB(10, 40, 60);
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
}









