*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.titulo{
    padding-top: 20px;
    font-size: 33px;
    text-align: center;
}

.container{
    margin: auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    padding: 20px;
}

.menu h2{
    color: red;
    font-weight: 600;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
}

.menu ul li a:hover{
    color: red;
    transition: .5s;
}

.btnPedido{
    background-color: red;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 15px;
    padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    font-weight: 500;
}


.cabecalho{
    height: 915px;
    background-image: url(/imagens/fundo3.jpg);
    background-position: center;
    background-size: cover;
}

.textoCabecalho{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.textoCabecalho h1{
    font-size: 60px;
    padding: 10px;
}

.textoCabecalho p{
    padding: 10px;
    font-size: 18px;
}

input {
    font-size: 14px;
    padding: 8px;
}

.btnSearch{
    font-size: 15px;
    padding: 8px;
    background-color: red;
    border: 0;
    color: #fff;
    font-weight: 500;
}

/*===CARDAPIO===*/
section.cardapio{
    padding: 30px;

}

.textoCardapio{
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.containerCardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.itemCardapio{
    max-width: 350px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
}

.imagenCardapio img{
    width: 100%;
    height: 200px;
}

.tituloCardapio{
    display: flex;
    align-items: center;
    margin: ;
}

.tituloCardapio h3{
    font-size: 20px;
}

.tituloCardapio i{
    font-size: 13px;
    
}

.textoItemCardapio{

}

.preco{
    color: red;
}








