*{
    padding: 0;
    margin: 0;
    }


body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.titulo{
    padding-top: 20px;
    font-size: 33px;
    text-align: center;
}

.container{
    margin: auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
}

.menu h2{
    color:#e50914;
    font-weight: 600;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
}

.menu ul li a:hover{
    color: #e50914;
    transition: .5s;
}

.btnPedido{
    background-color: #e50914;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 15px;
    padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    font-weight: 500;
}


.cabecalho{
    height: 915px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../imagens/essaagora.jpg);
    background-position: center;
    background-size: cover;
}

.textoCabecalho{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.textoCabecalho h1{
    font-size: 60px;
    padding: 10px;
}

.textoCabecalho p{
    padding: 10px;
    font-size: 18px;
}

input {
    font-size: 17px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.btnSearch{
    font-size: 17px;
    margin: 0 5px;
    padding: 10px;
    background-color: #e50914;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
}

.btnSearch:hover{
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: 1.10;
}

/*===CARDAPIO===*/
section.cardapio{
    padding: 30px;
    background-color: #ffffff69;

}

.textoCardapio {
    padding: 10px;
    margin: 10px;
    text-align: center;
}


.containerCardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.itemCardapio{
    max-width: 350px;
    height: 530px;
    box-shadow: 0 0 5px;
    border-radius: 10px 10px 0 0;
}

.imagenCardapio img{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.ConteudoCardapio{
    padding: 15px;
}

.tituloCardapio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.tituloCardapio h3{
    font-size: 22px;
    padding: 10px 0;
}

.paragrafo{
    padding-top: 20px;
}


.emoji{
    font-size: 25px;
}

.saberMais {
    color: rgba(255, 0, 0, 0.726);
    padding: 9px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e50914;
    font-weight: 600;
    font-size: small;
    border-radius: 5px;

}

.saberMais:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 5px #e50914;
    transition: .1s;
}

.btnCardapio {
    padding: 12px 0;
    margin: 22px 0;
    width: 300px;
    font-size: 13px;
    font-weight: 600;
    border: 2px solid #e50914;
    border-radius: 8px;
    color: #e50914;
    background-color: #ffffff;
    
}

.btnCardapio:hover{
    background-color: #e50914;
    color: #ffffff;
    transition: 0.5s;
}








