*{
    padding: 0;
    margin: 0;
    
}


body{
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}

.titulo{
    padding-top: 20px;
    font-size: 38px;
    text-align: center;
    
}



.container{
    margin: auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    padding: 25px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}


.logo {
    height: 110px;
    margin: 15px;
}


.btnPedido{
    background-color: 	RGB(10, 40, 60);
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    font-size: large;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    font-weight: 500;
}

.btnPedido:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px RGB(10, 40, 60);
    transition-duration: .1s;
}


.cabecalho{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/imagens/WhatsApp\ Image\ 2025-08-18\ at\ 15.19.19.jpeg);
    background-position: center;
    background-size: cover;
}

.textoCabecalho{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.textoCabecalho h1{
    font-size: 45px;
    padding: 5px;
}

.textoCabecalho p{
    padding: 10px;
    font-size: 18px;
}

input {
    font-size: 17px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.btnSearch{
    font-size: large;
    margin: 0 5px;
    padding: 10px;
    background-color: RGB(10, 40, 60);
    border: 0;
    border-radius: 5px;
    color: #ffffff;
}

.btnSearch:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 3px RGB(10, 40, 60);
    transition-duration: .1s;
}

/*===CARDAPIO===*/
section.cardapio{
    padding: 5% 0;
    color: #ffffff;
    
}

.textoCardapio {
    padding: 5px;
    margin: 10px;
    text-align: center;
}


.containerCardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 25px;
    padding: 30px 0;
    flex-wrap: wrap;
}

.itemCardapio{
    width: 250px;
    height: 260px;
    padding: 25px;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px RGB(10, 30, 50);
}

.itemCardapio:hover{
    transform: scale(1.01);
    transition-duration: .1s;
}



.tituloCardapio{
    font-size: 25px;
    padding: 15px 0;
}

.emoji{
    font-size: 63px;
    padding-top: 10px;
    color: #ffffffa9;
}

.textoItemCardapio{
    color: #d7d6d6ee;
    text-align: justify;
}


.btnCardapio {
    margin: 20px 0;
    font-size: large;
}

.btnCardapio button{
    padding: 13px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    background-color: RGB(10, 40, 60);
    color: #ffffff;
}

.btnCardapio button:hover{
    box-shadow: 0 0 10px 5px RGB(10, 40, 60);
    transition-duration: .1s;
}

/*===Section Sobre===*/
section#sobre{
    padding: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url(/imagens/sobre2.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.842);
}

.containerSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    height: 600px;
    margin: auto;
    gap: 80px;
}

.textoSobre{
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    padding-top: 25px;
}

.imagemSobre img{
    width: 700px;
    height: 500px;
    border-radius: 10px;
    border: none;
}


.btnSobre{
    background-color: RGB(10, 40, 60);
    border: 0;
    font-size: large;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
}

.btnSobre:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px RGB(10, 40, 60);
    transition-duration: .1s;
}

/*====GALERIA====*/
section#principal{
    background-color: #000000;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.842);
}
.conteudoGaleria{
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tituloGaleria{
    padding: 30px;
    font-size: 28px;
    position: relative;
    display: inline-block;
    color: #ffffff;
}


.tituloGaleria::after{
content: "";
position: absolute;   
width: 25%;
height: 5px;
background-color: RGB(30, 60, 80);
}


.info {
    margin: 10px;
    border-radius: 30px 30px 0 0;
    transition-duration: 1s;
    max-width: 400px;
    height: 400px;
}

.info:hover {
    box-shadow: 0 0 10px 3px RGB(10, 40, 60)
}

.info img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}


.info-conteudo {
    padding: 30px;
}

.horario {
    display: flex;
    align-items: center;
}

.horario a {
    text-decoration: none;
    color: white;
    background-color: RGB(10, 40, 60);
    padding: 10px 10px;
    border-radius: 5px;
    font-size: small;
}

.horario p {
    margin-left: 10px;
    color: #d7d6d6;
}


/*===FORMULÁRIO===*/
section.formulario{
    background-color: #000000;
    color: #d7d6d6;
    padding: 30px;

}


.tituloForm{
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 35px;
}



form{
    max-width: 500px;
    height: 400px;
    margin:  auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

form input,
textarea {
    width: 100%;
    border: 1px solid grey;
    outline: 0;
    padding: 10px 15px;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
}


textarea {
    resize: none;
    height: 100px;
}


form .btn-enviar input {
    width: 90px;
    margin-bottom: 25px;
    padding: 10px 0px;
    font-size: large;
    background-color: RGB(10, 40, 60);
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

form .btn-enviar input:hover {
    box-shadow: 0 0 10px 5px RGB(10, 40, 60);
    transform: scale(1.05);
    transition: .1s;
}

/*===RODAPÉ===*/
footer{
    padding: 30px;
    background-color: RGB(10, 30, 50);
    color: #d7d6d6dc;

}

.conteudoRodape{
    max-width: 80%;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.658) ;
}

.tituloRodape{
    font-size: 25px;
}

.links{
    padding: 5px 0;
    margin: 5px 0;
}

.links p{
    padding: 3px 0;
}

.linksUteis{
    padding-bottom: 30px;
}

.sociais {
    font-size: 33px;
    margin: 15px 0;
    border: 0;
    cursor: pointer;
    
}

.sociais a{
    text-decoration: none;
    padding: 0 5px;
    color: #d7d6d6dc;   
}

.copy{
    padding-top: 35px;
    text-align: center;
    color: gray;
    font-size: 15px;
}

.direitos{
    color: #d7d6d6c2;
}







