*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
}


body{
    padding: 0;
    margin: 0;
}

.titulo{
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    color: RGB(10, 40, 60);

}


.container{
    margin: auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    padding: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    cursor: pointer;
}

.logo {
    height: 110px;
    margin: 15px;
}

.menu ul li a:hover{
    color: RGB(100, 110, 110);;
}

.btnPedido{
    background-color: 	RGB(10, 40, 60);
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 15px;
    padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    font-weight: 500;
}

.btnPedido:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px #ffffff;
    transition-duration: .1s;
}


.cabecalho{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/imagens/capa.jpg);
    background-position: center;
    background-size: cover;
}

.textoCabecalho{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.textoCabecalho h1{
    font-size: 60px;
    padding: 10px;
}

.textoCabecalho p{
    padding: 10px;
    font-size: 18px;
}

input {
    font-size: 17px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.btnSearch{
    font-size: 17px;
    margin: 0 5px;
    padding: 10px;
    background-color: RGB(10, 40, 60);
    border: 0;
    border-radius: 5px;
    color: #ffffff;
}

.btnSearch:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px #ffffff;
    transition-duration: .1s;
}

/*===CARDAPIO===*/
section.cardapio{
    padding: 50px 0;
    margin: auto;
    background-color: #ffffffe7 ;
    color: #000000;
}

.textoCardapio {
    padding: 10px;
    margin: 10px;
    text-align: center;
}


.containerCardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.itemCardapio{
    max-width: 300px;
    height: 370px;
    box-shadow: 0 0 5px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
}

.itemCardapio:hover{
    transform: scale(1.01);
    transition-duration: .1s;
}

.ConteudoCardapio{
    padding: 15px;
}


.tituloCardapio{
    font-size: 20px;
    padding: 15px 0;
}

.emoji{
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    color: #ffffffb3;
}

.paragrafo{

}


.btnCardapio {
    margin: 20px 0;
    text-align: center;
}

.btnCardapio button{
    padding: 13px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    background-color: RGB(10, 40, 60);
    color: #ffffff;
}

.btnCardapio button:hover{
    box-shadow: 0 0 5px #ffffff;
    transition-duration: .1s;
}

/*===Section Sobre===*/
section.sobre{
    padding: 30px;
}

.containerSobre{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5px;
}

.imagemSobre img{
    height: 500px;
    border-radius: 8px;
}

.textoSobre{
    line-height: 20px;
    padding: 0px 20px;
    text-align: justify;
    
}


.btnSobre{
    margin: 20px 0;
    padding: 15px 30px;
    background-color: RGB(10, 40, 60);
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
}

.btnSobre:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px;
    transition-duration: .1s;
}

/*====GALERIA====*/
.conteudoSobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffffe7;
    padding-top: 40px 0px;
}

.tituloGaleria{
    padding: 30px;
    margin: 10px 4%;
    font-size: 30px;
    position: relative;
    display: inline-block;

}

.tituloGaleria::after{
content: "";
position: absolute;   
width: 30%;
height: 5px;
background-color: grey;
}


.info {
    margin: 10px;
    border-radius: 30px 30px 0 0;
    transition-duration: 1s;
    max-width: 500px;
    height: 500px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.info:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.info img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}


.info-conteudo {
    padding: 25px;
}

.horario {
    display: flex;
    align-items: center;
}

.horario a {
    text-decoration: none;
    color: white;
    background-color: RGB(10, 40, 60);
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: x-small;
}

.horario p {
    margin-left: 15px;
    color: #000000;
}


/*===FORMULÁRIO===*/
section.formulario{
    padding: 30px;
    background-color: #000000;
    color: #d7d6d6;
}




.tituloForm{
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 35px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form input,
textarea {
    width: 100%;
    border: 1px solid grey;
    outline: 0;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}

.textarea {
    resize: none;
    max-height: 250px;
}

form label {
    font-size: 20px;
    font-weight: 550;
    padding-top: 5px;
    margin: 10px 0;
}

form .btn-enviar input {
    width: 90px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px 0px;
    background-color: RGB(10, 40, 60);
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 13px grey;
    transform: scale(1.05);
    transition: .1s;
}

/*===RODAPÉ===*/
footer{
    padding: 30px;
    background-color: RGB(10, 30, 50);
    color: #d7d6d6dc;

}

.conteudoRodape{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(128, 128, 128, 0.658) ;
}

.tituloRodape{
    font-size: 25px;
}

.links{
    padding: 5px 0;
    margin: 5px 0;
}

.links p{
    padding: 3px 0;
}

.linksUteis{
    padding-bottom: 30px;
}

.sociais {
    font-size: 33px;
    margin: 15px 0;
    border: 0;
    cursor: pointer;
    
}

.sociais a{
    text-decoration: none;
    padding: 0 5px;
    color: #d7d6d6dc;   
}

.copy{
    padding-top: 35px;
    text-align: center;
    color: gray;
    font-size: 15px;
}

.direitos{
    color: #d7d6d6c2;
}







